.body-content { min-width: 100%; }

.row.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.margin { margin: 10px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt { white-space: normal; }

/* styles for multi line text overflow hide with '...' */ 
.block-with-text {
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 3.6em; 
    text-align: justify;  
    margin-right: -1em;
    padding-right: 1em;
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.block-with-text:after {
    content: '';
    position: absolute;
    right: 1px;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

/* loading icon*/
.loadingIcon {
    display:    none;
    position:   fixed;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../imgs/loadingIcon.gif') 
                50% 50% 
                no-repeat;
}
body.processing .loadingIcon {
    overflow: hidden;   
}
body.processing .loadingIcon {
    display: block;
}

