@model IndexGet
@{
    ViewBag.Title = "Beers";
}

@section styles{
    @Styles.Render("~/Content/Beers/Index.css")
}

<div class="row row-eq-height" id="indexContentHolder">
    @Html.Partial("IndexContent", Model)
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Beers/index.js")
}