#beersNavigation-col { padding-bottom: 10px; }

#beersNavigation-col form {
	position: fixed;
	width: 25%;
}

#beersNavigation-col form #searchByNameBox { width: 70%; }

#beers-col .thumbnail { margin-bottom: 5px; }

#beers-col .thumbnail .caption { height: 100px; }

#beers-col .thumbnail .beerLabel { width: 100%; }

#beers-col .thumbnail .caption .beerName {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}