.navigation-col {
    background: rgb(249, 249, 249);
    padding-bottom: 10px;
}

.navigation-col .searchBox { width: 70%; }

.navigation-col .content {
    position: fixed;
    width: 25%;
}

.beers-col .thumbnail {
    margin-bottom: 5px;
}

.beers-col .thumbnail .caption {
    height: 100px;
}

.beers-col .beerName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.beers-col .beerLabel {
    width: 100%;
}

